rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write to the players collection
    match /players/{playerId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow authenticated users to read and write to the coaches collection
    match /coaches/{coachId} {
      allow read, write: if request.auth != null;
    }

    // Allow authenticated users to read and write to the events collection
    match /events/{eventId} {
      allow read, write: if request.auth != null;
    }

    // Allow authenticated users to read and write to the payments collection
    match /payments/{paymentId} {
      allow read, write: if request.auth != null;
    }

    // Allow authenticated users to read and write to the salaries collection
    match /salaries/{salaryId} {
      allow read, write: if request.auth != null;
    }
  }
}
